@mixin bp($map) {
    $query: "";
    @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
    @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
    @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
    @media screen and #{$query} { @content; }
  }


.header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 22px 51px;
    color: $color_white;
    // background: transparent;
    background: red; 
    z-index: $z_index_header;
    transition: 0.2s ease-in;

  @include bp($bp-tablet) {
      padding: 2.4rem 3.5rem;
  }

  @include bp($bp-mobile) {
      height: 90px;
      padding: 1.5rem;
  }

  .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}

.header--scrolled {
  background: $color_white;
  box-shadow: 0 0 20px 0  $color_white;
  height: 78px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header__left {
  transition: all 0.2s ease-in;
  display: flex;
  align-items: center;
}

.header__right {
  margin-left: auto;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.header__languages {
  display: flex;
  font-size: 14px;
  text-transform: uppercase;

  a {
      color: $color_mid;
      transition: width 0.2s ease-in;
      font-weight: 900;

      &:hover {
          color: $color_white;
      }
  }

  .lang-item {
      padding: 5px 8px;
  }

  .current-lang {
      a {
          color: $color_white;
      }
  }
}

.header__logo {
  margin-right: 30px;

  @include bp($bp-mobile) {
      margin-right: 15px;
  }

  @include bp($bp-mobile-narrow) {
      margin-right: 0;
  }

  img {
      height: 42px;
      @include bp($bp-mobile-narrow) { 
          height: 34px; 
      }
  }
}

.header__navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 340px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  will-change: transform;
  backface-visibility: hidden;
  padding-top: 150px;
  font-family: 'League Gothic', sans-serif;
  background:  #575757;
  transition: all 0.1s ease-in 0.2s;

  @include bp($bp-mobile) {
      padding-top: 70px;
  }

  @include bp($bp-phablet) {
      width: 100%;
      padding-top: 100px;
  }

  @include bp($bp-desktop) {
      padding-top: 120px;
  }

  @include bp((min: 1700px)) {
      padding-top: 200px;
  }

  @include bp((min: 1900px)) {
      padding-top: 250px;
  }

  .navigation {
      padding-right: 50px;		
  }

  .navigation__social {
      display: flex;
      justify-content: flex-end;
      border-top: 1px solid #3c3f4e;
      padding-top: 16px;
      font-family: 'Lato', sans-serif;
      padding-right: 50px;
      padding-bottom: 50px;

      @include bp($bp-mobile) {
          padding-bottom: 30px;
      }

      .social__item {
          font-size: 1.4rem;
          margin-left: 20px;

          &:hover {
              i {
                  color: white;
              }
          }
      }

      i{
          transition: 0.2s ease-in;
          color: #3c3f4e;
          padding-right: 5px;
      }
  }

  .menu-item{
      will-change: transform;
      backface-visibility: hidden;
      text-align: right;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 0.2s ease-out;

      a {
          position: relative;
          padding: 0 5px;
          font-size: 36px;
          opacity: 0.44;
          line-height: 58px;
          transition: all 0.2s ease-in;
          color: #3C3C3C !important;

          @include bp($bp-mobile) {
              font-size: 30px;
              line-height: 45px;
          }

          &:hover{
              color: $color_white;
              opacity: 1;
          }
      }
  }

  .current-menu-item {
      a {
          color: #6b6b6b;
          opacity: 1;

          &::after {
              content: '';
              background: #3a3a3a;;
              width: 100%;
              height: 3px;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-3px);
          }
      }
  }
}

.navigation__overlay {
  background: #030720;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: calc(100vw - 290px);	
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.2s ease-in;
}

.header__toggle {
  position: relative;
  background: none;
  border: none;
  margin-left: 21px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 27px;
  width: 37px;

  @include bp($bp-phablet) {
      margin-left: 15px;
  }

  &:hover {
      cursor: pointer;

      .header__toggle__item:last-child {
          width: 37px;
      }
  }
}

.header__toggle__item {
  position: absolute;
  top: 0;
  right: 0;
  background: $color_white;
  width: 37px;
  height: 3px;
  border-radius: 1px;
  transition: all 0.2s ease-in;

  &:nth-child(2) {
      top: calc(50% - 1px);
  }
  &:last-child {
      top: calc(100% - 3px);
      width: 27px;
  }
}

.header--navigation-open {
  background: transparent;
  box-shadow: none;

  .header__left {
      opacity: 0;
  }

  .header__navigation {
      transform: translateX(0);
      transition: all 0.2s ease-in-out;
  }

  .menu-item {
      opacity: 1;
      transition: opacity 0.2s ease-out 0.2s;
  }

  .header__toggle {
      .header__toggle__item {
          width: 37px;

          &:nth-child(1) {
              transform: rotate(45deg) translateY(18px);
          }

          &:nth-child(2) {
              transform: translateX(100%);
              opacity: 0;
          }

          &:nth-child(3) {
              transform: rotate(-45deg) translateY(-16px);
          }
      }
  }

  .navigation__overlay {
      transition: opacity 0.2s ease-in 0.1s;
      pointer-events: all;		
      opacity: 0.49;
  }
}

.header__social {
  display: flex;
  align-items: center;

  @include bp($bp-mobile) {
      display: none;
  }

  .social__item {
      padding: 10px 12px;

      a{
          font-size: 22px;
          color: $color_mid;
          transition: color 0.2s ease-in;

          &:hover {
              color: white;
          }
      }
  }
}
